<template>
    <div class="center">
        <h1> {{ counter }}</h1>
        <button @click="counterup">Counter Up</button>
        <button @click="counterdown">Counter Down</button>

    </div>
</template>

<script>
export default {
    name: "counterView",
    data() {
        return {
            counter:0
        }
    },
    methods: {
        counterup() {
            this.counter = this.counter+1
        },
        counterdown() {
            this.counter = this.counter-1
        },
    }
}
</script>

<style>
    h1{
        color: steelblue;
    }
    .center{
        text-align: center;
    }
</style>
