<template>
    <div>
        <h1>{{ msg }}</h1>
        <hr />
    <!--    <h1>{{ name }} {{ position }}</h1>
        <button @click="changeName(45),changePosition('CEO')">Change name</button>   -->
        <p>Name:{{ name }}</p>
        <input type="text" @input="getInput($event,'Zuckberg')">
        <input type="text" @input="getPassword">
    </div>
</template>

<script>
export default {
    name:"HandleView",
    data() {
        return {
            msg: "Event Handling",
            name:'',
            position: 'Developer',
            Password:''
        }
    },
    methods: {
        changeName(ageParmas) {
            this.name = 'Elon Musk' + ", Age:" + ageParmas
        },
        changePosition(positionNew) {
            this.position = positionNew
        },
        getInput(event,lastName) {
            this.name = event.target.value + lastName
            console.log(event)
        },
        getPassword(event) {
            this.password =event.target.value
        }
    }
}
</script>

<style lang="scss" scoped>

</style>