<template>
  <div>
    <Counter></Counter>
   <!-- <Handle></Handle> -->
  </div>
</template>

<script>
//import Handle from './components/Handle.vue'
import Counter from './components/counter.vue'
export default {
  name: 'App',
  components: {
      //Handle,
      Counter
    },
}
</script>

<style>


</style>